In [1]:
import pandas as pd
import nltk
from nltk import sent_tokenize
from nltk import word_tokenize
#nltk.download('punkt')
#nltk.download('stopwords')
from nltk.corpus import stopwords

In [2]:
stopwords = stopwords.words('english')

In [3]:
data = pd.read_csv('clean_tweet_data.csv',index_col=0,parse_dates=['created_at'])

In [4]:
data.head()

,screen_name,is_quote_status,text,created_at,favorites,retweets,follower_count,is_truncated,statuses_count,Day_of_Week
0,awonderland,False,Would you trust me with your drink be honest h...,2021-02-01 00:33:12,3917,198,326241,False,44948,0
1,awonderland,False,some inspiration for you https://t.co/ovatFDkZxZ,2021-01-31 20:14:43,4815,516,326241,False,44948,6
2,awonderland,False,if you see this tweet I am chilling &amp; so s...,2021-01-31 07:37:05,5028,223,326241,False,44948,6
3,awonderland,False,i want to marry my bed,2021-01-31 02:47:53,4329,927,326241,False,44948,6
4,awonderland,False,SOPHIE was groundbreaking and inspiring in so ...,2021-01-30 19:56:59,2323,145,326241,False,44948,5

In [5]:
data['text'] = data.text.str.replace('http.*','containsmedia',regex=True)

In [6]:
data.head()

,screen_name,is_quote_status,text,created_at,favorites,retweets,follower_count,is_truncated,statuses_count,Day_of_Week
0,awonderland,False,Would you trust me with your drink be honest c...,2021-02-01 00:33:12,3917,198,326241,False,44948,0
1,awonderland,False,some inspiration for you containsmedia,2021-01-31 20:14:43,4815,516,326241,False,44948,6
2,awonderland,False,if you see this tweet I am chilling &amp; so s...,2021-01-31 07:37:05,5028,223,326241,False,44948,6
3,awonderland,False,i want to marry my bed,2021-01-31 02:47:53,4329,927,326241,False,44948,6
4,awonderland,False,SOPHIE was groundbreaking and inspiring in so ...,2021-01-30 19:56:59,2323,145,326241,False,44948,5

In [37]:
word_list = pd.DataFrame()

for i in range(len(data)):
    clean_words = []
    temp_df = pd.DataFrame()
    for word in word_tokenize(data.text[i]):
        if word not in stopwords and word.isalpha():
            clean_words.append(word.lower())
            faves = data.favorites[i]
            rts = data.retweets[i]
            temp_df = pd.DataFrame(data = {'Word':clean_words,'Favorites':faves,'Retweets':rts})
    word_list = word_list.append(temp_df)

In [43]:
tweet_words = word_list.groupby(['Word']).sum().sort_values(by='Favorites',ascending=False)

In [45]:
word_counts = word_list.groupby(['Word']).count().sort_values(by='Favorites',ascending=False)

In [50]:
final_word_data = tweet_words.join(word_counts,on='Word',rsuffix=' tweet count')

In [52]:
final_word_data

,Favorites,Retweets,Favorites tweet count,Retweets tweet count
Word,,,,
containsmedia,5940780,1032307,9147,9147
i,2307064,313624,1250,1250
u,833590,130998,813,813
music,650514,128796,420,420
new,603134,94813,769,769
...,...,...,...,...
yoyoyoyooooo,0,0,1,1
louiswtmarais,0,0,1,1
cheezmagic,0,0,2,2
kloeystrande,0,0,1,1
jxstinxluke,0,0,1,1

In [54]:
final_word_data['Rts/Tweet'] = final_word_data.Retweets/final_word_data['Retweets tweet count']
final_word_data['Faves/Tweet'] = final_word_data.Favorites/final_word_data['Favorites tweet count']

In [62]:
final_word_data[final_word_data['Favorites tweet count'] > 100].sort_values('Faves/Tweet',ascending = False).head(20)

,Favorites,Retweets,Favorites tweet count,Retweets tweet count,Rts/Tweet,Faves/Tweet
Word,,,,,,
virtual,251596,47765,102,102,468.284314,2466.627451
want,256301,45603,111,111,410.837838,2309.018018
miss,227304,45856,106,106,432.603774,2144.377358
i,2307064,313624,1250,1250,250.899200,1845.651200
going,217574,38521,125,125,308.168000,1740.592000
play,173325,20428,107,107,190.915888,1619.859813
music,650514,128796,420,420,306.657143,1548.842857
much,299318,41454,200,200,207.270000,1496.590000
people,250804,35475,170,170,208.676471,1475.317647
life,162280,24097,113,113,213.247788,1436.106195
years,177455,27736,125,125,221.888000,1419.640000
good,325276,56079,245,245,228.893878,1327.657143
ur,171952,26852,130,130,206.553846,1322.707692
really,219266,32220,166,166,194.096386,1320.879518
so,165090,28369,126,126,225.150794,1310.238095
first,352355,69048,269,269,256.684015,1309.869888
is,192227,36095,148,148,243.885135,1298.831081
know,172181,25310,133,133,190.300752,1294.593985
song,325460,72976,252,252,289.587302,1291.507937
ever,196247,38384,152,152,252.526316,1291.098684